# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
datadir = /var/lib/mysql

skip-log-bin

general-log = OFF
#general-log-file = /var/lib/mysql/mysql_general.log

secure-file-priv = NULL

lower-case-table-names = 2

character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci

default-storage-engine = myisam
#default-tmp-storage-engine = myisam

default-authentication-plugin = mysql_native_password

# Custom config should go here
!includedir /etc/mysql/conf.d/
